<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCM_CangJiConnectionString"
            connectionString="Data Source=.;Initial Catalog=SCM_CangJi;Persist Security Info=True;User ID=sa;Password=&quot;Abc 123&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SCM_CangJiConnectionString"
           applicationName="SCM_CangJi"
           enablePasswordRetrieval="false"
           enablePasswordReset="false"
           requiresQuestionAndAnswer="false"
           requiresUniqueEmail="false"
           passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
</configuration>