<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCM_CangJiConnectionString" connectionString="Data Source=.;Initial Catalog=SCM_CangJi;Persist Security Info=True;User ID=sa;Password=&quot;Abc 123&quot;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="SCM_CangJiConnectionString"

            applicationName="SCM_CangJi"

            type="System.Web.Security.SqlRoleProvider" />

      </providers>

    </roleManager>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider"
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="SCM_CangJiConnectionString" 
             applicationName="SCM_CangJi" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
