<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCM_CangJi.DAL.Properties.Settings.SCM_CangJiConnectionString"
            connectionString="Data Source=.;Initial Catalog=SCM_CangJi;Persist Security Info=True;User ID=sa;Password=&quot;Abc 123&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>